<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    This is a placeholder.
                </h2>
                <p>
                    This text is also a placeholder. Please log in or sign up to begin. This will redirect you to the Action controller, an SPA driven by Bootstrap, Telerik, JQuery, Ajax and MVC 6.
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="#">Create an account</a>
                </p>
            </div>
        </div>
    </div>
</div>