@model RPG.Models.ActionModel


<div class="row" id="activeResearch">
    <div class="col-lg-4">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info-circle"></i>
            <div id="outputBox"><strong>
                    Active Research: @if (Model.DataCache.ActiveResearchNodes.Any())
                                     {
                                         foreach (var n in Model.DataCache.ActiveResearchNodes)
                                         {
                                             <br/>
                                             <br/>
                                             @n.Name
                                             @:, @n.GetTurnsToResearch(@Model.Corporation.RD) remaining
                                         }
                                     }
                </strong>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-8" id="rocketryTree">

</div>

<div class='panel panel-default'>
    <div class='panel - heading'>
        <h3 class='panel - title'>
            <i class='fa fa-money fa - fw'></i>
            Rocketry
        </h3>
    </div>
    <div class='panel - body'>
        <div class='table - responsive'>
            <table class='table table-bordered table - hover table - striped'>

                <thead><tr><th>Name</th><th>Prerequisites</th><th>Unlocks</th><th>Research Cost</th><th>Cash Cost</th><th>Actions</th></tr></thead>
                <tbody>
                @Html.Raw(Model.ResearchTreeRocketryBody)
                </tbody>
            </table>
        </div>
    </div>
</div>
